#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
    border-color: black;
    width: 550px;
    height: 550px;
    box-shadow: black 5px 5px 10px ;
}

#gameScore{
    font-size: 60px;
    font-family: "Pernament Marker", cursive;
}

#resetBtn{
    font-size: 50px;
    font-family: "Pernament Marker", cursive;
    border-radius: 15%;
    width: 180px;
    height: 80px;
}
#resetBtn:hover{
    background-color: gray;
}
